{% extends 'base.html.twig' %}

{% block title %}Contactez-nous - NewsApp
{% endblock %}

{% block body %}
	<h1 class="textCenter">Contact</h1>

	<div class="contact">

		{{form(form)}}

			<section class="address">
				<address>
					<div>
						<h3>Address</h3>
						150 Rue Nicolas Louis Vauquelin, 31100 Toulouse
					</div>
					<div>
						<h3>Phone</h3>
						XXXX612623
					</div>
					<div>
						<h3>E-mail</h3>
						eric.ponchant.apformation@gmail.com
					</div>
				</address>
			</section>

		</div>
	{% endblock %}
